# Copiez ce fichier en .env et adaptez les valeurs
SECRET_KEY=changez-moi-en-production-avec-une-cle-aleatoire
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:4200,http://127.0.0.1:4200
# URL publique de base utilisée pour construire les liens réduits
PUBLIC_BASE_URL=http://localhost:8000
# Langue / fuseau
LANGUAGE_CODE=fr-fr
TIME_ZONE=Europe/Paris
FRONTEND_BASE_URL=http://localhost:4200
